Options +FollowSymLinks -Indexes
RewriteEngine on

#Disable Request Methods
RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK|OPTIONS|PUT|DELETE) 
RewriteRule .* - [F]

#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [NC,L,R=301]
RewriteCond $1 !^(index\.php|(.*).txt|info.php|favicon.ico|images|db_backup|db_backup_restored|backup_google|cron_payout|favicon.ico|docxtest|archived_cases_sheetx|PDFMerger|export_excel|fonts|phpminiadmin|source|ckeditor|ckfinder|import_files|xlsx_reader|font|css|js|multiselect|controllers|models|calculus|PAMAC_Android_web_service|datepicker_img|uploads|tcpdf|tcpdf_6_2_12|pdf|zip_files|case_status|pincode|thumbs|googlemaplog|cron|XmlData|phpexcel|mmtimages|robots\.txt)
RewriteRule ^(.*)$ /index.php/$1 [L]

# 1 week for most static assets
<FilesMatch ".(css|jpg|jpeg|png|gif|js|ico)$">
    Header set Cache-Control "max-age=604800, public"
</FilesMatch>

#XSS- Protection : REF URL : https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-XSS-Protection?utm_source=mozilla&utm_medium=devtools-netmonitor&utm_campaign=default
<IfModule mod_headers.c>
    #<FilesMatch "\.(htm|html|php|jpg|jpeg|png|gif|js|ico|pdf|txt|xls|xlsx|csv|xml|woff|swf|zip)$">
        Header always set Access-Control-Allow-Methods: "GET,POST"
        Header always set X-XSS-Protection "1; mode=block"
        Header always append X-Frame-Options SAMEORIGIN
        Header always set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://maps.googleapis.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com; frame-src 'self' *.google.com; connect-src 'self' https://*.googleapis.com *.google.com https://*.gstatic.com data: blob:; img-src 'self' https://*.googleapis.com https://*.gstatic.com *.google.com *.googleusercontent.com data:"
        #Header always set X-Content-Type-Options nosniff # Issue in send to client and export module
        Header always set Strict-Transport-Security "max-age=16070400; includeSubDomains; preload" env=HTTPS
        Header always set Referrer-Policy origin
        Header always edit Set-Cookie ^(.*)$ "$1; HTTPOnly; Secure; SameSite=Strict"
    #</FilesMatch>    
</IfModule>

# BEGIN cPanel-generated php ini directives, do not edit
# Manual editing of this file may result in unexpected behavior.
# To make changes to this file, use the cPanel MultiPHP INI Editor (Home >> Software >> MultiPHP INI Editor)
# For more information, read our documentation (https://go.cpanel.net/EA4ModifyINI)
#<IfModule php5_module>
#   php_flag asp_tags Off
#   php_flag display_errors On
#   php_value max_execution_time 300
#   php_value max_input_time 60
#   php_value max_input_vars 11000
#   php_value memory_limit 1024M
#   php_value post_max_size 128M
#   php_value session.gc_maxlifetime 1440
#   php_value session.save_path "/var/cpanel/php/sessions/ea-php56"
#   php_value upload_max_filesize 100M
#   php_flag zlib.output_compression Off
#</IfModule>
#<IfModule lsapi_module>
#   php_flag asp_tags Off
#   php_flag display_errors On
#   php_value max_execution_time 300
#   php_value max_input_time 60
#   php_value max_input_vars 11000
#   php_value memory_limit 1024M
#   php_value post_max_size 128M
#   php_value session.gc_maxlifetime 1440
#   php_value session.save_path "/var/cpanel/php/sessions/ea-php56"
#   php_value upload_max_filesize 100M
#   php_flag zlib.output_compression Off
#</IfModule>
# END cPanel-generated php ini directives, do not edit

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php56” package as the default “PHP” programming language.
#<IfModule mime_module>
#  AddHandler application/x-httpd-ea-php56 .php .php5 .phtml
#</IfModule>
# php -- END cPanel-generated handler, do not edit